<section id="cta" class="wrapper" style="background-image: linear-gradient(rgba(206,27,40,0.25), rgba(206,27,40,0.25)),url('{{ fields.field_bg_image.content| render| striptags| trim }}');">
  <div class="inner">
    <h2>{{ fields.title_1.content| render| striptags| trim }}</h2>
    <p>{{ fields.body.content| render| striptags| trim }}</p>    
  </div>
</section>